<!DOCTYPE html>
<html>
  <head>
    <title>Grease Munchy: Faster Fast Food</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Signika:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': '<%= current_user.username %>'
        };
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
